.cart-null {
    display: grid;
    padding-bottom: 60px;

    .title {
        padding-bottom: 30px;
    }
}

.cart__title {}

.cart-null__img {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.cart-null__subtitle {
    text-align: center;
    font-size: var(--size-subtitle-medium);
    text-transform: uppercase;
    padding-bottom: 30px;
}

.cart-null {
    .btn__black {
        max-width: 396px;
        margin: 0 auto;
    }
}


@media screen and(min-width:769px) {
    .cart-null {
        padding: bottom 120px;
    }
}