.cart-buy {
    display: grid;
    gap: 20px;
    max-width: 500px;

    .btn__black {
        text-transform: uppercase;
    }
}

.cart-buy__price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    color: #4F4F4F;

    .item__price {
        font-size: 1rem;
        font-weight: var(--font-regular);
        text-align: right;
    }
}

.cart-buy__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--size-subtitle-medium);
    text-transform: uppercase;

    .item__price {
        font-size: var(--size-subtitle-medium);
        text-transform: uppercase;
        font-weight: var(--font-regular);
    }
}

.cart-buy__agreement {
    color: #4F4F4F;
    font-size: 0.6875rem;

    a {
        color: inherit;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: var(--color-pink);
        }
    }
}

@media screen and(min-width:769px) {
    .cart-buy__price {
        order: -1;
    }
}

@media screen and(min-width: 1025px) {
    .cart-buy__price {
        font-size: var(--size-normal-18);
    }

    .cart-buy__summary {
        font-size: var(-size-subtitle);
        .item__price {
            font-size: var(-size-subtitle);
        }
    }
}