.catalog-filter {
    padding-bottom: 30px;

    &__box {
        display: flex;
        flex-direction: column;
        width: 200px;
        gap: 20px;
    }
    &__select {
        border: none;
        cursor: pointer;
        color: black;
        background-color: transparent;
        transition: color .3s ease-in-out;
        font-size: var(--size-normal-small);
        font-family: var(--font-montserrat);
    }
}

.catalog-filter__item {}

.catalog-filter__item--left {
    display: grid;
    gap: 30px;
}

.catalog-filter__btn {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
        font-size: var(--size-normal-small);
    }
}

.catalog-filter__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.catalog-filter__tag {
    padding: 3px 8px;
    display: inline-flex;
    background-color: #F2F2F2;
    color: #828282;

    .btn {
        padding-left: 5px;
    }
}

@media screen and(min-width:769px) {
    .catalog-filter {
        padding-bottom: 40px;
    }
}