.clock-loader {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;

  display: flex;

  width: 100%;
  min-height: 100vh;
  margin: 0;

  background-color: rgba(0, 0, 0, 0.2);

  justify-content: center;
  align-items: center;

  &.hidden {
    display: none;
  }

  div {
    position: relative;

    display: flex;

    width: var(--clock-width);
    height: var(--clock-width);

    border: 3px solid var(--clock-color);
    border-radius: 50%;

    --clock-color: #2E2B2B;
    --clock-width: 4rem;
    --clock-radius: calc(var(--clock-width) / 2);
    --clock-minute-length: calc(var(--clock-width) * 0.4);
    --clock-hour-length: calc(var(--clock-width) * 0.2);
    --clock-thickness: 0.2rem;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
      position: absolute;
      top: calc(var(--clock-radius) * 0.25);

      width: var(--clock-thickness);

      content: '';
      transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
      animation: spin infinite linear;

      border-radius: 10px;
      background: var(--clock-color);
    }

    &::before {
      height: var(--clock-minute-length);

      animation-duration: 2s;
    }

    &::after {
      top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));

      height: var(--clock-hour-length);

      animation-duration: 15s;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}