.header {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 6px;
    border-bottom: 1px solid #F2F2F2;
}

.header__wrap {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.header__wrap.container {
    padding: 0;
}

.header__logo {
    order: -1;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    padding-bottom: 13px;
    border-bottom: 1px solid #F2F2F2;

    img {
        width: 156px;
        height: 22px;
    }
}

.header__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 10px;

    &.active {
        width: calc(100% - 20px);
    }

    svg {
        width: 20px;
        height: 20px;
    }
}

.header__like,
.header__cart {
    height: 34px;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: inherit;

    .header__btn-text {
        width: 25px;
    }
}

.header__like {
    svg {
        stroke: #1A1A1A;
        fill: none;
    }
}

.header__btn-text {
    font-size: var(--size-normal-small);
}

@media screen and(min-width:621px) {
    .header {
        padding-bottom: 15px;
    }

    .header__wrap.container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo {
        order: 0;
        padding: 0;
        border-bottom: none;
    }

    .header__info {
        padding-right: 0;
    }
}


@media screen and(min-width:769px) {
    .header__wrap {
        gap: 40px;
    }

    .header__logo {
        img {
            width: 241px;
            height: 34px;
        }
    }

    .header__info {
        gap: 15px;


    }

    .header__btn-text {
        font-size: var(--size-normal-18);
    }

    .header__like,
    .header__cart {
        height: 60px;
    }

    .header__like {
        svg {
            width: 25px;
            height: 25px;
            padding-bottom: 2px;
        }
    }

    .header__cart {
        svg {
            width: 24px;
            height: 26px;
            padding-bottom: 2px;
        }
    }
}